actionlib==1.13.2
angles==1.9.13
asgiref==3.4.1
base-local-planner==1.17.1
bondpy==1.8.6
camera-calibration==1.15.3
camera-calibration-parsers==1.12.0
catkin==0.8.10
certifi==2021.10.8
charset-normalizer==2.0.9
controller-manager==0.19.4
controller-manager-msgs==0.19.4
cv-bridge==1.15.0
diagnostic-analysis==1.10.4
diagnostic-common-diagnostics==1.10.4
diagnostic-updater==1.10.4
dj-database-url==0.5.0
Django==3.2.9
dynamic-reconfigure==1.7.1
gencpp==0.6.5
geneus==3.0.0
genlisp==0.4.18
genmsg==0.5.16
gennodejs==2.0.2
genpy==0.6.15
gunicorn==20.1.0
idna==3.3
image-geometry==1.15.0
interactive-markers==1.12.0
joint-state-publisher==1.15.0
joint-state-publisher-gui==1.15.0
message-filters==1.15.11
psycopg2==2.9.2
pytz==2021.3
requests==2.26.0
sqlparse==0.4.2
urllib3==1.26.7
xacro==1.14.6
